@import 'styles';

.Title {
  position: relative;
  font-family: $SECOND_FONT;
  @include text(rem(28), 400, $BLUE_600);
  letter-spacing: 0.3px;
  padding-left: 30px;
  margin-bottom: 5px;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: block;
    @include size(18px, true);
    background-color: $BLUE_600;
    box-shadow: 0 0 0 rgba($BLUE_600, 0.3);
    animation: pulse 1s linear infinite;
  }
}
