$WHITE: #ffffff;
$GRAY: #8e8e8e;
$GRAY_300: #d0d5dd;
$GRAY_500: #667085;
$GRAY_700: #344054;
$GRAY_900: #101828;
$PRIMARY_300: #d6bbfb;
$BLACK: #000000;
$DARK: #0c0c0e;
$GOLD: #bb945f;
$ERROR_300: #fda29b;
$ERROR_500: #f04438;
$SUCCESS: #6ce9a6;
