@import 'styles';

.Login {
  height: 100vh;
  background-color: $BLUE_GRAY_800;
  @include flex(center, center);

  &__form {
    position: relative;
    @include flex-col;
    border-radius: 8px;
    background-color: $WHITE;
    box-shadow: $BOX_SHADOW_LG;
    padding: 30px 20px;

    &_close {
      display: flex;
      position: absolute;
      top: 15px;
      right: 15px;

      &Icon {
        fill: $GRAY_600;
        @include transition(fill);
      }

      &:hover &Icon {
        fill: $BLUE_500;
      }
    }

    &_descr {
      @include text(rem(16), 400, $GRAY_400);
      margin-bottom: 20px;
    }

    &_btn {
      width: 100%;
      margin-bottom: 15px;
    }

    &_wrapperReg {
      @include flex(center, center);

      &_descr {
        @include text(rem(14), 400, $GRAY_500);
        margin-right: 5px;
      }

      &_link {
        font-family: $SECOND_FONT;
        outline: none;
        @include text(rem(20), 400, $BLUE_500);
        @include transition(color);

        &:hover,
        &:focus {
          color: $BLUE_300;
        }
      }
    }
  }
}
