@import 'styles';

.Button {
  position: relative;
  width: fit-content;
  line-height: 143%;
  padding: 10px 16px 10px 16px;
  box-shadow: $BOX_SHADOW_XS;
  border: 1px solid $GRAY_300;
  border-radius: 8px;
  cursor: pointer;
  @include text(rem(16), 600, $GRAY_700);
  @include transition(color, border-color);

  &:focus {
    border-color: $BLUE_400;
  }

  &:hover {
    color: $GRAY_500;
    border-color: $BLUE_300;
  }

  &__dot {
    position: absolute;
    top: 50%;
    left: 16px;
    @include size(8px, true);
    background-color: $GRAY_300;
    transform: translateY(-50%);
    @include transition(background-color);
  }
}
