@import 'styles';

.Button {
  min-width: 75px;
  border-radius: 2px;
  border: 1px solid $DARK;
  background-color: transparent;
  letter-spacing: 1px;
  cursor: pointer;
  @include text(rem(10), 700, $DARK);
  @include transition(background-color, border-color, color);
  &:hover {
    background-color: $GOLD;
    border-color: $GOLD;
  }
  &:hover:disabled {
    color: $DARK;
  }

  &:disabled {
    border-color: $GOLD;
    color: $GOLD;
    pointer-events: none;
    &:hover {
      background-color: transparent;
      color: $GOLD;
    }
  }
}

.Default {
  padding: 10px 0;
}

.Form {
  font-size: rem(20);
  padding: 10px 40px;
}
