@import 'styles';

.Favorites {
  padding-top: 20px;
  padding-bottom: 40px;

  &__descr {
    margin-bottom: 25px;
    @include text(rem(20), 700, $BLACK);
    @include media($SCREEN_TABLET_SMALL) {
      margin-bottom: 40px;
    }
  }
}

// SEASONS
.Seasons {
  width: 100%;
  max-width: 700px;
  margin: 0 auto 25px;
  @include flex(space-between, center);
  @include media($SCREEN_TABLET_SMALL) {
    margin-bottom: 40px;
  }
  @include media($SCREEN_TABLET_LARGE) {
    margin: 0 0 40px;
  }

  &__label {
    @include flex(flex-start, center);
    @include text(rem(14), 400, $BLACK);
    @include transition(weight, color);
    text-transform: capitalize;
    cursor: pointer;
    gap: 5px;
    @include media($SCREEN_TABLET_SMALL) {
      gap: 20px;
      font-size: rem(20);

      &:hover &_anim {
        color: crimson;
      }

      &_anim {
        @include transition(color);
      }

    }

    input[type='radio'] {
      -webkit-appearance: none;
      appearance: none;
      background-color: $WHITE;
      border: 2px solid $BLACK;
      display: grid;
      place-content: center;
      cursor: pointer;
      @include size(17px, true);

      &::before {
        content: '';
        transform: scale(0);
        box-shadow: inset 1em 1em $BLACK;
        @include size(7px, true);
        @include transition(transform);
      }

      &:checked::before {
        transform: scale(1);
      }
    }
  }
}

// LIST
.List {
  @include flex-col(center, center);
  flex-wrap: wrap;
  row-gap: 25px;
  @include media($SCREEN_TABLET_SMALL) {
    row-gap: 40px;
  }
  @include media($SCREEN_L) {
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
  }

  &__item {
    position: relative;
    width: 100%;
    max-width: 550px;
    height: auto;
    border: 1px solid $BLACK;
    padding: 13px 20px;
    @include media($SCREEN_L) {
      margin-right: 40px;
    }

    &_title {
      position: relative;
      width: fit-content;
      font-family: $SECOND_FONT;
      @include text(rem(20), 400, $BLACK);
      line-height: 200%;
      letter-spacing: 2px;
      text-transform: capitalize;
      margin-bottom: 20px;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 60px;
        background-color: $GOLD;
      }
    }

    &_descr {
      width: fit-content;
      @include flex-col(flex-start, flex-start);
      @include text(rem(13), 700, $BLACK);
      line-height: 180%;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 15px;

      span {
        text-transform: capitalize;
      }

      @include media($SCREEN_TABLET_SMALL) {
        font-size: rem(15);
        line-height: 266.66%;
        margin-bottom: 20px;
      }
    }

    &_text {
      width: 100%;
      max-width: 358px;
      min-height: 320px;
      @include text(rem(13), 400, $BLACK);
      line-height: 266.66%;
      letter-spacing: 2px;
      text-transform: capitalize;
      margin-bottom: 15px;
      @include media($SCREEN_TABLET_SMALL) {
        font-size: rem(15);
      }
    }

    &_img {
      position: absolute;
      bottom: -1px;
      right: 0px;
      width: 200px;
      height: 300px;
      background-color: $GRAY;
      z-index: 1;
      opacity: 0;
      @include transition(opacity, right);
      @include media($SCREEN_TABLET_SMALL) {
        opacity: 1;
        right: -20px;
      }
      @include media($SCREEN_TABLET) {
        right: -40px;
      }
    }
  }
}
