@import 'styles';

.CustomInput {
  @include flex-col;
  margin-bottom: 25px;

  &__label {
    width: fit-content;
    @include text(rem(15), 400, $GRAY_700);
    line-height: 133.33%;
    letter-spacing: 0.2px;
    margin-bottom: 5px;
  }

  &__wrapper {
    position: relative;
    width: inherit;

    &_icon {
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      fill: transparent;

      path {
        @include transition(fill);
        stroke: $GRAY_500;
      }
    }

    &_input {
      width: 100%;
      @include text(rem(16), 300, $GRAY_900);
      line-height: 150%;
      border-radius: 8px;
      border: 1px solid $GRAY_300;
      outline: none;
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      padding: 10px 25px 10px 15px;
      @include transition(border-color);

      &::placeholder {
        color: $GRAY_500;
      }

      &:focus {
        border-color: $ORANGE_300;
      }
    }
  }
}

.withIcon {
  padding-left: 40px;
}
