* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
input,
select,
textarea,
button {
  font-family: $BASE_FONT;
}

html {
  touch-action: manipulation;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  min-height: 100vh;
  background-color: $WHITE;
  color: $BLACK;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: $GRAY;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: $GOLD;
}

.bullets {
  width: 68px !important;
  display: flex;
  margin: 0 auto;
}

.swiper-pagination-bullet {
  @include size(16px, true);
  @include transition(background-color);
  background: $BLACK;
  opacity: 1;
  &:hover {
    background-color: $GRAY;
  }
}
.swiper-pagination-bullet-active {
  background-color: $GOLD;
}
